
<div>
    <div>
        {{blogpost.title}}
    </div>
    <div>
        {{blogpost.username}}
    </div>
    <div>
        {{blogpost.date_created}}
    </div>
    <div>
        {{blogpost.body}}
    </div>
</div>


<div>
    {{#each blogpost.comments as |comment|}}
        <div>
            <p>{{comment.text}}</p>
            <p>by {{comment.username}}</p>
            <button>delete</button>
        </div>
    {{/each}}
</div>

<script src="../../public/blogpost.js"></script>